.form-buttons {
  padding: 20px 15px;
  background-color: $Alabaster;
  margin-top: auto;
  display: flex;
  justify-content: space-between;

  &-mobile {
    @media (min-width: 942px) {
      display: none;
    }
  }

  &-desktop {
    background-color: inherit;
    padding: 0px;
    // margin-bottom: 20px;
    @media (max-width: 942px) {
      display: none;
    }
  }
}

.titles {
  margin-bottom: 30px;

  & h1 {
    font-size: 1.6rem;
    margin: 10px 0px 0px 0px;

    @media (min-width: 942px) {
      font-size: 1.9rem;
    }
  }

  & h2 {
    font-size: 1.1rem;
    color: $CoolGray;
    font-weight: 400;
    margin: 10px 0px;
  }
}

span {
  color: $CoolGray;
}

.forms {
  display: flex;
  flex-direction: column;

  @media (min-width: 942px) {
    margin: 20px auto;
    width: 55%;
  }
}

// Step one
.form-inputs {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 20px;

  & > label {
    color: $MarineBlue;
  }

  & > input {
    padding: 12px;
    border-radius: 5px;
    border: 1px solid $CoolGray;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    color: $MarineBlue;

    &::placeholder {
      color: $CoolGray;
      font-family: sans-serif;

      @media (min-width: 942px) {
        font-size: 0.9rem;
      }
    }

    &:focus {
      outline: none;
      border-color: $MarineBlue;
    }

    @media (min-width: 942px) {
      padding: 16px;
      margin-bottom: 10px;
    }
  }
}

// Step two
.option {
  display: flex;
  gap: 20px;
  flex-direction: column;

  @media (min-width: 639px) {
    height: 200px;
    flex-direction: row;
  }

  & > * {
    flex-basis: 100%;
    border: 1px solid $CoolGray;
    border-radius: 5px;
    padding: 20px 15px;
    display: grid;
    place-content: space-between;
    cursor: pointer;

    &:hover {
      background-color: $Magnolia;
    }

    @media (max-width: 639px) {
      grid-template-columns: auto 1fr;
      gap: 20px;
    }

    & h4 {
      margin: 10px 0px;

      @media (max-width: 639px) {
        margin-bottom: 10px;
        margin-top: 0px;
        font-size: 1.2rem;
      }
    }

    & p {
      margin: 0px;
    }
  }

  &-switch {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: $Magnolia;
    border-radius: 5px;
    margin-top: 50px;

    & p {
      font-weight: 600;
      color: $CoolGray;
    }
  }

  &-active {
    border: 2px solid $PurplishBlue;
    background-color: $Magnolia;
  }
}

.switch {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 25px;
  border-radius: 20px;
  background: $MarineBlue;
  transition: background 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  vertical-align: middle;
  cursor: pointer;
}
.switch::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 5px;
  width: 17px;
  height: 17px;
  background: $Alabaster;
  border-radius: 50%;
  transition: left 0.28s cubic-bezier(0.4, 0, 0.2, 1), background 0.28s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
.switch:active::before {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.28), 0 0 0 20px rgba(128, 128, 128, 0.1);
}
input:checked + .switch {
  background: $MarineBlue;
}
input:checked + .switch::before {
  left: 27px;
  background: #fff;
}
input:checked + .switch:active::before {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.28), 0 0 0 20px rgba(0, 150, 136, 0.2);
}

// Step three
.add-ons {
  &-container {
    display: flex;
    justify-content: space-between;
    border: 1px solid $CoolGray;
    padding: 20px;
    border-radius: 5px;
    margin: 15px 0px;
    align-items: center;
    font-size: clamp(12px, 2.5vw, 16px);

    & > input:checked {
      border: 1px solid red;
    }

    &:hover {
      background-color: $Magnolia;
      cursor: pointer;
    }

    & > div {
      display: flex;
      align-items: center;

      & h4,
      span {
        margin: 0px 0px 10px 20px;
      }
    }
  }

  &-checked {
    border: 1px solid $PurplishBlue;
  }
}

// Step four
.summary {
  & > * {
    padding: 10px 30px;
  }

  & > div > div > div > .summary-option-title {
    color: $MarineBlue;
    font-size: clamp(1rem, 2.5vw, 1.2rem);
    margin: 10px 0px;
  }

  &-bg {
    background-color: $Magnolia;
    border-radius: 15px;

    & > * {
      display: flex;
      justify-content: space-between;
      align-items: center;

      & h4 {
        margin: 15px 0px;
        font-size: clamp(0.9rem, 2.5vw, 1rem);
      }
    }

    & hr {
      margin: 20px 0px;
      border: 1px solid $LightGray;
      border-radius: 50px;
    }
  }

  & h4 {
    color: $CoolGray;
  }

  &-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

// Overrides
#year-plan {
  color: $MarineBlue;
  margin-top: 5px;
}

#selected-payment-method {
  color: $MarineBlue;
}

#add-on {
  width: 15px;
  height: 15px;

  @media (min-width: 743px) {
    width: 18px;
    height: 18px;
  }
}

#span-underline {
  text-decoration: underline;
  font-size: clamp(0.8rem, 2.5vw, 1rem);

  &:hover {
    cursor: pointer;
    color: $PurplishBlue;
  }
}

#purple-span {
  color: $PurplishBlue;

  &-total {
    color: $PurplishBlue;
    font-weight: 800;
    font-size: 1.2rem;
  }
}

#blue-span {
  color: $MarineBlue;
  font-weight: 600;

  &-summary {
    font-weight: 800;
    color: $MarineBlue;
  }
}
