.form-buttons {
  padding: 20px 15px;
  background-color: $Alabaster;
  margin-top: auto;
  display: flex;
  justify-content: space-between;

  &-mobile {
    @media (min-width: 942px) {
      display: none;
    }
  }

  &-desktop {
    background-color: inherit;
    padding: 0px;
    // margin-bottom: 20px;
    @media (max-width: 942px) {
      display: none;
    }
  }
}

.titles {
  margin-bottom: 30px;

  & h1 {
    font-size: 1.6rem;
    margin: 10px 0px 0px 0px;
    color: $MarineBlue;

    @media (min-width: 942px) {
      font-size: 1.9rem;
    }
  }

  & h2 {
    font-size: 1.1rem;
    color: $CoolGray;
    font-weight: 400;
    margin: 10px 0px;
  }
}

.forms {
  display: flex;
  flex-direction: column;

  @media (min-width: 942px) {
    margin: 20px auto;
    width: 55%;
  }

  & > div {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 20px;

    & > input {
      padding: 12px;
      border-radius: 5px;
      border: 1px solid $CoolGray;
      font-family: "Ubuntu", sans-serif;
      font-weight: 700;
      color: $MarineBlue;

      &::placeholder {
        color: $CoolGray;
        font-family: sans-serif;

        @media (min-width: 942px) {
          font-size: 0.9rem;
        }
      }

      &:focus {
        outline: none;
        border-color: $MarineBlue;
      }

      @media (min-width: 942px) {
        padding: 16px;
        margin-bottom: 10px;
      }
    }
  }
}
