* {
  box-sizing: border-box;
}

body {
  background-color: $LightGray;
  margin: 0px;
  // font-family: "Ubuntu", sans-serif; Ubuntu font looks funny??
  font-family: sans-serif;
}

.content-wrapper {
  min-height: 80vh;
  display: flex;
  flex-direction: column;

  @media (min-width: 942px) {
    display: grid;
    place-items: center;
    min-height: 100vh;
  }
}

.mobile-header {
  & img {
    width: 100%;
  }

  @media (min-width: 942px) {
    display: none;
  }
}

.content-container {
  background-color: $Magnolia;
  margin: 0px 15px;
  padding: 25px;
  border-radius: 12px;
  transform: translateY(-75px);

  @media (min-width: 942px) {
    display: flex;
    transform: translateY(0px);
    padding: 15px;
    width: 100%;
    max-width: 1020px;
  }
}

.steps {
  display: flex;
  list-style-type: none;
  justify-content: center;
  gap: 23px;
  font-weight: 700;
  position: absolute;
  top: -67px;
  left: 0;
  right: 0;

  @media (min-width: 942px) {
    flex-direction: column;
    font-size: 1.1rem;
    top: 30px;
    left: 30px;
  }

  & li {
    border: 1px solid $Alabaster;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $Alabaster;

    &.active {
      background-color: $LightBlue;
      border: 1px solid $LightBlue;
      color: $MarineBlue;
    }

    @media (min-width: 942px) {
      width: 40px;
      height: 40px;
    }
  }

  &-container {
    & img {
      display: none;
    }
    @media (min-width: 942px) {
      position: relative;
      & img {
        display: block;
      }
    }
  }

  &-list {
    display: flex;
    align-items: center;

    &-text {
      display: none;
      & > * {
        margin: 5px 0px 0px 20px;
        color: $Magnolia;
        letter-spacing: 1px;
      }

      & p {
        font-weight: 100;
        font-size: 0.8rem;
        color: $LightGray;
      }

      & h3 {
        font-size: 0.9rem;
        text-transform: uppercase;
        font-weight: 600;
      }

      @media (min-width: 942px) {
        display: block;
      }
    }
  }
}

.cta {
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 600;
  color: $CoolGray;
  background-color: inherit;
  font-family: sans-serif;

  @media (max-width: 942px) {
    background-color: $Alabaster;
  }

  &:hover {
    color: $MarineBlue;
    cursor: pointer;
  }

  &-filled {
    width: 110px;
    height: 45px;
    background-color: $MarineBlue;
    color: $Magnolia;
    &:hover {
      background-color: lighten($color: $MarineBlue, $amount: 5);
      color: $Magnolia;
    }
  }

  &-hidden {
    visibility: hidden;
  }
}
